body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    font-style: normal;
    background: linear-gradient(to bottom, grey, black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    /* height: 90%; */
    width: 90%;
    /* padding: 10px; */
    margin: 20px 10px;
}

.input{
    padding: 20px 10px;
    width: 100px;
    border-radius: 5px;
    border-style: none;
    text-align: center;
}

.errorMessage{
    color: red;
    font-weight: 600;
    margin: 10px;
    display: none;
}

.get-btn {
    text-transform: uppercase;
    width: 250px;
    height: 45px;
    font-weight: 500;
    font-size: 18px;
    /* padding: 10px; */
    margin: 20px 0;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
    border-style: none;
}

.get-btn:hover{
    cursor: pointer;
    color: black;
    background-color: coral;
}
.gallery img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
}

.gallery img:hover{
    cursor: pointer;
}
.gallery{
    display: none;
}
